* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/Portofolio/assets/2026-07-13_22.47.21.png);
}

.penjelasan {
  color: whitesmoke;
}

.penjelasan-card {
  background: #585451;
  border: 4px solid #938f8c;
  box-shadow: 6px 6px #0e0e0e;
  padding: 20px;
  margin-bottom: 30px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}
